{% load static %}
<footer>
    <section class="">
        <!-- Footer -->
        <footer class="text-center text-white" style="background-color: rgba(3, 0, 20, 0.945);">
            <!-- Grid container -->
            <div class="container p-4 pb-0">
                <!-- Section: CTA -->
                <section>
                    <p class="d-flex justify-content-center align-items-center">
                        <span class="me-3">Quieres que sea parte de tu Equipo </span>
                        <a class="custom-btn btn-11" href="{% url 'contacto' %}">                       
                        Contactame! </a>
                    </p>
                </section>
                <!-- Section: CTA -->
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(3, 0, 20, 0.945);;">
                © 2023 Copyright:
                <a class="text-white" href="/">Jeff_Developer</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </section>
</footer>