{% load static %}
<div class="containernav frame">
    <a class="blue fuller-button"  href="/">Home</a><a ></a>
    <a class="custom-btn btn-1" href="{% url 'vblog'  %}">Blog</a>
    <a class="custom-btn btn-11" href="{% url 'vblog'  %}">Descargar CV</a> 
    <div class="navredes">
        <a href="https://www.linkedin.com/feed/" target="_blank">
            <img src="{% static "img/linkeding01.png" %}" class="link4">
        </a>
        <a href="https://www.tiktok.com/@jeffdeveloper3" target="_blank">
            <img src="{% static "img/tiktok01.png" %}" class="link4">
        </a>
        <a href="https://www.youtube.com/channel/UCjg9xb_roXzYWaPufC4l_Yg" target="_blank">
            <img src="{% static "img/youtube01.png" %}" class="link4">
        </a>
    </div>
</div>