{% load static %}
<div class="containernav">
    <a class="link1" href="/">Home</a>
    <a class="link2" href="{% url 'vblog'  %}">Blog</a>
    <a class="link3" href="{% url 'vblog'  %}">Descargar CV</a> 
    <div class="navredes">
        <a href="#" >
            <img src="{% static "img/linkeding01.png" %}" class="link4">
        </a>
        <a href="#" >
            <img src="{% static "img/tiktok01.png" %}" class="link4">
        </a>
        <a href="https://www.youtube.com/channel/UCjg9xb_roXzYWaPufC4l_Yg" >
            <img src="{% static "img/youtube01.png" %}" class="link4">
        </a>
    </div>
</div>