{% extends 'layout/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    <body>
        {% block content %}
            {% for presentacion in presentaciones %}
                <secction class="containerpresent">
                    <div class="Present"> 
                        <div>
                            {% for img in imgs %}
                            <img class='imgP' src="{{ img.imagen.url }}" alt="{{ img.title }}">
                            {% endfor %}
                            </div>
                        <div class="text-container">
                            <h2 class="title01">{{ presentacion.title }}</h2>
                            <p class="title01">{{ presentacion.description }}</p>
                            <div class="skill">
                                <img class="redesS" src="{% static "img/html5 - tabtag.jpg" %}">
                                <img class="redesS" src="{% static "img/CSS3 - MI PORTAL.jpg" %}">
                                <img class="redesS" src="{% static "img/Unplugged Coding in the classroom - The Blog of Curiosity and the Hungry Mind.jpg" %}">
                                <img class="redesS" src="{% static "img/File_Bootstrap logo_svg - Wikimedia Commons.jpg" %}">
                                <img class="redesS" src="{% static "img/Python - MI PORTAL.jpg" %}">
                                <img class="redesS" src="{% static "img/Django minimized logo.jpg" %}">
                                <img class="redesS" src="{% static "img/Social Media Computer Icons GitHub Social Network PNG - Free Download.jpg" %}">
                            </div>
                        </div>
                    </div>
                </secction>
            {% endfor %}
                <secction class="containerproyect">
                    {% for projecto in projectos %}
                        <div class="proyect"> 
                            <a class="link5" href="{{ projecto.url }}">
                            <h2 class="title01">{{ projecto.title }}</h2>
                            <p class="parrafo01">{{ projecto.description }}</p>
                            <img class="img01" src="{{ projecto.image.url }}"/></a>
                        </div>
                    {% endfor %}
                </secction>
        {% endblock content %}
        <script src="" async defer></script>
    </body>
</html>
