{% extends "layout/base.html" %}
{% load static %}
{% block content %}

<form action ="" class="form-group" method="post">
    {% csrf_token %}
    <input class="form-control" type="text" placeholder="Default input">{{ form.nombre }}
    <input class="form-control" type="text" placeholder="Default input">{{ form.correo }}
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{ form.mensaje }}</textarea>
    <br>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>



<h1> hola formulario </h1>

{% endblock content %}



