{% extends "layout/base.html" %}
{% load static %}
{% block content %}

<form action =""  method="post">
    {% csrf_token %}
    <div class="form-group" style="with: 100%">
        <input class="form-control" type="text" placeholder="Nombre" with="70%">{{ form.nombre }}</input>
        <input class="form-control" type="email" placeholder="Correo@" with="70%">{{ form.correo }}</input>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" with="70%">{{ form.mensaje }}</textarea>
        <br>
        <button type="submit" class="btn btn-primary" with="70%">Enviar</button>
    </div>
</form>

{% endblock content %}



