{% extends "layout/base.html" %}
{% load static %}
{% block content %}

<form action =""  method="post">
    {% csrf_token %}
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Nombre">{{ form.nombre }}
        <input class="form-control" type="email" placeholder="Correo@">{{ form.correo }}
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">{{ form.mensaje }}</textarea>
        <br>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>

{% endblock content %}



