{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
    <container class="contenido">
        <div class="containerarticle">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="cen col-md-4">
                        <img class="img-fluid rounded-start" src="/media/img/jeff_developer.png"/>
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="titleB"> Formulario de contacto enviado!!!</h1>
                            <p class="card-tex">Gracia por contactarme en 24 horas tendras una respuesta!!!</p>
                            <p class="card-tex2">Saludos!!!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </container>
{% endblock  %}
