footer{
    width: 100%;
    height: 3rem;
    background-color: #452cd44d ;
    position: relative;
    margin-top: 10px;
    
}
.containerfooter {
    text-align: right;
}
.footercard{
    color: white;
}
.redesS {
    width: 50px;
    height: 50px;
    margin-left: 10px; /* Puedes ajustar este valor según el espacio deseado entre las imágenes */
    border-radius: 50%;
}
.present{
    display: flex;
    width: 80%;
    justify-content: space-around;
}
.imgP{
    width: 40%;
    height: 60%;
    border-radius: 100%;
}
