*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*general__________________________________________________________________________________________*/
body{
    min-height: 100vh;  
    background-image: linear-gradient( rgba(3, 0, 20, 0.945), rgb(13 5 110 / 95%), rgba(3, 0, 20, 0.945) );
}
a{
    text-decoration: none;
    color: white;
}
/*cambio modo dark__________________________________________________________________________________*/
.contanermdark{
    position: absolute;
    top: 10px;
    left: 10px;
}
.toggle-mode:hover{
    width: 150%;
    height: 200%;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 15%;
}

/* barra de navegacion______________________________________________________________________________*/
.containernav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height:3rem;
}
.navredes{
    width: 25%;
    height: 100%;
    position: relative;
    float: inline-end;
}

/* botones________________________________________________________________________________________________ */
.frame {
    margin: 0 auto;
    text-align: center;
}
button {
    margin: 20px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.btn-11 {
    border: none;
    background: rgb(55, 33, 251);
    background: linear-gradient(0deg, rgb(66, 33, 251) 0%, rgb(79, 76, 234) 100%);
    color: #fff;
    overflow: hidden;
}
.btn-11:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
    opacity: .7;
}
.btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}
@keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
.tik{
    margin-block: 2%;
    float: inline-end;
    width: 20%;
    height: 70%;
    border-radius: 50%;     
}
.tik:hover{
    height: 90%;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 15%;
}
.you{
    margin-block: 2%;
    float: inline-end;
    width: 20%;
    height: 80%;
    border-radius: 50%;     
}
.you:hover{
    height: 90%;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 15%;
}
.kedin{
    margin-block: 3%;
    float: inline-end;
    width: 20%;
    height: 60%;
    border-radius: 50%;     
}
.kedin:hover{
    height: 80%;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 15%;
}
/* carrusel____________________________________________________________________*/
.carousel{
    min-width: 35%;
    max-width: 35%;
    object-fit: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item {
    transition-duration: 0.5s;
    width: 300px;
    height: 300px;
}

/* presentacion ________________________________________________________________*/
.containerpresent{
    width: 100%;
    height:40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
.Present{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.text-container {
    width: auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.skill{
    margin: 3%;
}
.title01{
    width: 30rem;
    padding: 1%;
    color: white;
    text-align: justify;
}
.redesS {
    width: 13%;
    height: 4rem;
    border:solid white;
    border-radius: 15%;
    border-width: 1px;
}
/* proyectos______________________________________________________________________________*/
.containerproyect{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.proyect{
    position: relative;
    display: block;
    width: 25%;
    height: 25rem;
    margin: 4rem;
    padding: 2% 0%;
    color: white;
    text-align: center;
    justify-items: center;
}
.parrafo01{
    width: 80%;
    height: 6rem;
    display: inline-flex;
    position: relative;
    align-items: flex-start;
    text-align: justify;
}
.titlep{
    position: relative;
    padding: 1%;
    color: white;
}
.img01{
    width: 250px;
    height: 150px;
    padding: 10px;
    box-shadow: 0 0 8px #ccc;
}
.proyect:hover{
    width: 25%;
    background-color:rgba(255, 255, 255, 0.089);
    border: solid rgba(255, 255, 255, 0.192);
    border-radius: 15%;
    border-width: 1px;
}
.link5{
    list-style: none;
}

/*blog____________________________________________________________________________________________________________*/
.contenido{
    width: 100%;
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.containerarticle{
    display: contents;
}
.card{
    margin-bottom: 3%;
    color: white;
    box-shadow: 0 0 8px #ccc;
    max-width: 95%;
    display: flex;
    background-image: linear-gradient( rgba(3, 0, 20, 0.945), rgb(13 5 110 / 95%), rgba(3, 0, 20, 0.945) );
}
.img-fluid {
    margin: 4% 2%;
    max-width: 100%;
    height: 90%;
}
.titleB{
    text-align: center;
}
.card-tex{
    text-align: justify;
    width: 98%;
    margin-left: 2%;
}
.card-tex2{
    font-size: x-large;
    font-weight: bold;
    margin-left: 2%;
}

/*footer__________________________________________________________________________________________________________*/
footer{
    position: bottom 0; 
}
/* Formulario de Contacto__________________________________________________________________________________________*/
.divcontac{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
}
.formulario{
    width: 50%; 
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.form-control{
    flex: 1;
    width:100%;
    margin-top: 5%;
    
} 
.btn-primary{
    width: 70%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
}
/* responsive_________________________________________________________________________________________*/
@media (min-width: 992px) and (max-width: 1024px){
    .proyect{
        margin: 3rem;
    }
    .proyect:hover{
        width: 30%;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .Present{
        flex-direction: column;
        height: auto;
    }
    .carousel{
        flex:1;
        padding-left: 20px;
        margin: 5%;
        min-width: 50%;
        max-width: 70%;
    }
    .title01{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .text-container {
        word-wrap: break-word;
    }
    .frame {
        flex-direction: column;
        height: auto;
    }
    .btn-11{
        width: 70%;
    }
    .navredes{
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        float: none;
    }
    .kedin{
        margin-left: 40%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;
    }
    .tik{
        margin-left: 40%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;
    }
    .you{
        margin-left: 40%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;
    }
    .kedin:hover{
        width: 26%;
        height: 80%;
        background: rgba(255, 255, 255, 0.089);
        border-radius: 15%;
    }
    .you:hover{
        width: 27%;
        height: 90%;
        background: rgba(255, 255, 255, 0.089);
        border-radius: 15%;
    }
    .tik:hover{
        width: 27%;
        height: 90%;
        background: rgba(255, 255, 255, 0.089);
        border-radius: 15%;
    }
    .containerproyect {
        flex-direction: column;
        height: auto;
    }
    .proyect {
        columns: 1;
        margin: 2%;
        width: 30%;
    }
    .proyect:hover {
        width: 33%;
    }
    .img01{
        width: 200px;
        height: 100px;
        padding: 6px;
    }
}
@media (min-width: 480px) and (max-width: 768px) {
    .containerproyect {
        flex-direction: column;
        height: auto;
    }
    .proyect{
        width: 65%;
    }
    .proyect:hover{
        width: 70%;
    }
    .Present{
        flex-direction: column;
        height: auto;
    }
    .carousel{
        flex:1;
        margin: 5%;
        min-width: 50%;
        max-width: 70%;
    }
    .title01{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .frame {
        flex-direction: column;
        height: auto;
    }
    .btn-11{
        width: 70%;
    }
    .navredes{
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        float: none;
    }
    .kedin{
        margin-left: 40%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;
    }
    .tik{
        margin-left: 40%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;
    }
    .you{
        margin-left: 40%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;
    }
    .kedin:hover{
        width: 26%;
        height: 80%;
        background: rgba(255, 255, 255, 0.089);
        border-radius: 15%;
    }
    .you:hover{
        width: 27%;
        height: 90%;
        background: rgba(255, 255, 255, 0.089);
        border-radius: 15%;
    }
    .tik:hover{
        width: 27%;
        height: 90%;
        background: rgba(255, 255, 255, 0.089);
        border-radius: 15%;
    }
}
@media (min-width: 375px) and (max-width: 480px) {
    .containerproyect {
        flex-direction: column;
        height: auto;
    }
    .proyect {
        width: 40%;
    }
    .proyect:hover {
        width: 50%;
    }
    .img01{
        width: 150px;
        height: 100px;
        padding: 6px;
    }
    .containerpresent{
        margin-top: 20%;
    }
    .Present{
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .carousel{
        flex:1;
        margin: 5%;
        min-width: 50%;
        max-width: 70%;
    }
    .title01{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25rem;
        padding: 3%;
        text-align: justify;
    }
    .text-container {
        width: 100vw;
        height: 50vh;
        text-align: center;
    }
    
    .frame {
        flex-direction: column;
        height: auto;
    }
    .btn-11{
        columns: 1;
        width: 70%;
    }
    .navredes{
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        float: none;
    }
    .kedin{
        margin-left: 40%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;
    }
    .tik{
        margin-left: 40%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;
    }
    .you{
        margin-left: 40%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        float: none;
    }
    .kedin:hover{
        width: 26%;
        height: 80%;
        background: rgba(255, 255, 255, 0.089);
        border-radius: 15%;
    }
    .you:hover{
        width: 27%;
        height: 90%;
        background: rgba(255, 255, 255, 0.089);
        border-radius: 15%;
    }
    .tik:hover{
        width: 27%;
        height: 90%;
        background: rgba(255, 255, 255, 0.089);
        border-radius: 15%;
    }
}
@media (min-width: 200px) and (max-width: 375px) {
    .containerproyect {
        flex-direction: column;
        height: auto;
    }
    .proyect {
        width: 30%; 
    }
    .proyect:hover {
        width: 40%;
    }
    .img01{
        width: 150px;
        height: 100px;
        padding: 6px;
    }
    .containerpresent{
        margin-top: 20%;
    }
    .Present{
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .carousel{
        flex:1;
        margin: 5%;
        min-width: 50%;
        max-width: 70%;
    }
    .title01{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25rem;
        padding: 3%;
        text-align: justify;
    }
    .text-container {
        width: 100vw;
        height: 50vh;
        text-align: center;
    }
}