*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Código CSS variiables de color*/
:root{
    --color-primary: white ;
    --color-secondary:  #452cd44d ;
    --color-body: rgba(3, 0, 20, 0.945);
    --fonts-main: blue;
    }
body{
    background-color: rgba(3, 0, 20, 0.945);
    
}

a{
    text-decoration: none;
    color: white;
    padding-top: 20px;
}
a:hover{
    color: #2d16b4cb ;
}
.proyect img{
    width: 300px;
    padding: 10px;
}
/*contenedor de barra nde navegacion*/
.containernav{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;

    background-color: #452cd44d;
}
/*proyectos en principal*/
.imgP{
    display: flex;
    width: 300px;
    height: 250px;
    float: left;
}

.contenedor {
    display: flex;
    justify-content: flex-start; /* Alinear al inicio del contenedor horizontalmente */
    gap: 10px; /* Espacio entre los elementos */
    flex-wrap: wrap; /* Ajustar elementos en varias líneas si no caben en una sola */
}
.proyect {
    /* Opcional: Añade estilos para los proyectos individuales si lo deseas */
    width: calc(33.33% - 10px); /* Asegurar que haya 3 proyectos por fila (con 10px de espacio entre ellos) */
    margin-bottom: 10px; /* Espacio inferior entre filas */
    padding: 10px; /* Espacio interno dentro de cada proyecto */
    box-sizing: border-box; /* Asegurar que el padding no afecte al ancho total del elemento */
    padding: 20px;
    font-family: monospace;
    color: white;
}
/*footer*/
footer{
    width: 100%;
    height: 100px;
    background-color: #452cd44d ;
    position: absolute;
    bottom: 0;
}

.containerfooter {
    text-align: right;
}

.containerfooter a {
    margin-left: 10px; /* Puedes ajustar este valor según el espacio deseado entre las imágenes */
    border-radius: 15%;
}
