*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*colores base___________________________________________________________________________________________*/

:root{
    --color-primary: white ;
    --color-secondary:  #452cd44d ;
    --color-body: rgba(3, 0, 20, 0.945);
    --fonts-main: #0006FA;
    }

/*body{background-image: url('media/Portafolio/images/base.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}*/

/* base general__________________________________________________________________________________________*/
body{
    background:rgba(3, 0, 20, 0.945);   
}

a{
    text-decoration: none;
    color: white;
}

/* barra de navegacion_________________________________________________________*/

.containernav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height:3rem;
    background-color: #452cd44d;
}
.navredes{
    width: 25%;
    height: 100%;
    position: relative;
    float: inline-end;
    

}


/* botones________________________________________________________________________________________________ */
.frame {
    margin: 0 auto;
    text-align: center;
}
button {
    margin: 20px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}


.btn-11 {
    border: none;
    background: rgb(55, 33, 251);
    background: linear-gradient(0deg, rgb(66, 33, 251) 0%, rgb(79, 76, 234) 100%);
    color: #fff;
    overflow: hidden;
}
.btn-11:hover {
    text-decoration: none;
    color: #fff;
}
.btn-11:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.btn-11:hover{
    opacity: .7;
}
.btn-11:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}


@keyframes shiny-btn1 {
    0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
    80% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
    81% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
    100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}

.tik{
    margin-block: 2%;
    float: inline-end;
    width: 20%;
    height: 70%;
    border-radius: 50%;     
}
.tik:hover{
    height: 90%;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 15%;
    
}
.you{
    margin-block: 2%;
    float: inline-end;
    width: 20%;
    height: 80%;
    border-radius: 50%;     
}
.you:hover{
    height: 90%;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 15%;
}
.kedin{
    margin-block: 3%;
    float: inline-end;
    width: 20%;
    height: 60%;
    border-radius: 50%;     
}
.kedin:hover{
    height: 80%;
    background: rgba(255, 255, 255, 0.089);
    border-radius: 15%;
    
}

/* carrusel____________________________________________________________________*/

.carousel-inner{
    width: 60%;
    height: 40%;
}
.carousel{
    max-width: 30%;
    min-width: 30%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item {
    transition-duration: 0.5s;
}

/* presentacion ________________________________________________________________*/
.containerpresent{
    width: 100%;
    height:40rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Present{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}


.text-container {
    width: auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.skill{
    margin-top: 2%;
}
.title01{
    width: 400px;
    padding: 1%;
    color: white;
}

.redesS {
    width: 60px;
    height: 60px;
    border:solid white;
    border-radius: 15%;
    border-width: 1px;
}
/* proyectos______________________________________________________________________________*/

.containerproyect{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.proyect{
    position: relative;
    display: block;
    width: 25%;
    margin: 4rem;
    padding: 2% 0%;
    color: white;
    text-align: center;
    justify-items: center;
}

.parrafo01{
    display: block;
    align-items: center;
    position: relative;
    text-align: center;
    justify-content: center;
    width: 80%;
    height: auto;
    
}
.titlep{
    position: relative;
    padding: 1%;
    color: white;
}

.img01{
    width: 250px;
    height: 150px;
    padding: 10px;
}

.proyect:hover{
    background-color:rgba(11, 26, 235, 0.075);
    border: solid rgba(255, 255, 255, 0.192);
    border-radius: 15%;
    border-width: 1px;
}
.link5{
    list-style: none;
}

/* footer_________________________________________________________________________________________*/
footer{
    width: 100%;
    height: 3rem;
    background-color:#452cd44d;
    position: relative;
    margin-top: 10px;
    
}
.containerfooter {
    text-align: right;
}
.footercard{
    color: white;
}

