*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*Código CSS variiables de color*/
:root{
    --color-primary: white ;
    --color-secondary:  #452cd44d ;
    --color-body: rgba(3, 0, 20, 0.945);
    --fonts-main: #0006FA;
    }
body{
    background-color: rgba(3, 0, 20, 0.945);
}

a{
    text-decoration: none;
    color: white;
    padding-top: 20px;
}
a:hover{
    color: #2d16b4cb ;
}
.proyect img{
    width: 300px;
    padding: 10px;
}
/*contenedor de barra nde navegacion*/
.containernav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    background-color: #452cd44d;
}
.link2{
    margin-top: 5%;
}
/*proyectos en principal*/

.contenedor {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px; 
    flex-wrap: wrap;
}
.proyect {
    width:100%;
    height: 80vh;
    justify-content: space-evenly;
    margin-bottom: 10px; 
    box-sizing: border-box; 
    padding: 20px;
    font-family: monospace;
    color: white;
}
.Present {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}

.imgP {
    max-width: 200px; 
    margin-right: 20px; 
}

.title01{
    width: 400px;
    padding: 5%;
    color: white;
}

footer{
    width: 100%;
    height: 3rem;
    background-color: #452cd44d ;
    position: relative;
    margin-top: 10px;
    
}
.containerfooter {
    text-align: right;
}
.footercard{
    color: white;
}
.redesS {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
}
.imgP{
    width: 40%;
    height: 60%;
    border-radius: 100%;
}