*{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*colores base___________________________________________________________________________________________*/

:root{
    --color-primary: white ;
    --color-secondary:  #452cd44d ;
    --color-body: rgba(3, 0, 20, 0.945);
    --fonts-main: #0006FA;
    }

/*body{background-image: url('media/Portafolio/images/base.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
}*/

/* base general__________________________________________________________________________________________*/
body{
    background:rgba(3, 0, 20, 0.945);   
}

a{
    text-decoration: none;
    color: white;
}

/* barra de navegacion_________________________________________________________*/

.containernav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height:3rem;
    background-color: #452cd44d;
}
.navredes{
    width: 25%;
    height: 100%;
    position: relative;
    float: inline-end;
    

}

.link1{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    font-weight: bold;
}
.link1:hover{
    width: 20%;
    background: solid;
    background-color:black;
    color: white ;
    border:solid white;
    border-radius: 5%;
    border-width: 1px;
}
.link2{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    font-weight: bold;
}   

.link2:hover{
    width: 20%;
    background: solid;
    background-color:black;
    color: white ;
    border:solid white;
    border-radius: 5%;
    border-width: 1px;
}
.link3{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    font-weight: bold;
}
.link3:hover{
    width: 20%;
    background: solid;
    background-color:black;
    color: white ;
    border:solid white;
    border-radius: 5%;
    border-width: 1px;
}
.link4{
    margin-block: 1%;
    float: inline-end;
    width: 20%;
    height: 80%;
    border-radius: 50%;     
}
.link4:hover{
    
    border:solid white;
    border-radius: 15%;
    border-width: 1px;
}
/* carrusel____________________________________________________________________*/
.carousel-img {
    padding: 50px;
    width: 100%;
    height: 50%;
    border-radius: 50%;
}


/* presentacion ________________________________________________________________*/
.containerpresent{
    width: 100%;
    height:600px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.Present{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}

/* .imgP{
    padding: 50px;
    width: 25%;
    height: 50%;
    border-radius: 50%;
} */

.skill{
    margin-top: 2%;
}
.title01{
    width: 400px;
    padding: 1%;
    color: white;
}
.text-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.redesS {
    width: 60px;
    height: 60px;
    border:solid white;
    border-radius: 15%;
    border-width: 1px;
}
/* proyectos______________________________________________________________________________*/

.containerproyect{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.proyect{
    width:auto;
    margin: 20px;
    padding: 10px;
    color: white;
    text-align: center;
    justify-items: center;
    
}

.proyect p{
    position: relative;
    margin: auto;
    padding: 10px;
    text-align: center;
    justify-content: center;
    width: 300px;
    height: 50px;
}

.img01{
    width: 250px;
    height: 150px;
    padding: 10px;
}

.proyect:hover{
    background-color:black;
    border: solid white;
    border-radius: 15%;
    border-width: 1px;
}
.link5{
    list-style: none;
}

/* footer_________________________________________________________________________________________*/
footer{
    width: 100%;
    height: 3rem;
    background-color:#452cd44d;
    position: relative;
    margin-top: 10px;
    
}
.containerfooter {
    text-align: right;
}
.footercard{
    color: white;
}

